.hero {
	@apply sm:mx-auto
    lg:mx-auto
    mid:mx-[40px]
    bg-peach
    md:rounded-[15px]
    grid
    lg:flex
    lg:justify-start
    lg:mb-[160px]
    overflow-hidden
    relative
    items-center
    z-10
    lg:gap-[80px]
    lg:h-[640px];

	&::after {
		@apply content-['']
        bg-[url('../theme/assets/img/Oval.png')]
        w-full
        h-full
        absolute
        bg-no-repeat
        top-0
        right-0
        bg-[center_right_-215px]
        md:bg-[center_right_-100px]
        lg:bg-right-top;
	}

	&__content {
		@apply w-[327px]
        h-[312px]
        md:w-[573px]
        md:h-[326px]
        mx-auto
        lg:pt-0
        pt-[60px]
        lg:mx-0
        lg:w-[540px]
        lg:h-[350px]
        lg:ml-[95px]
        text-center
        lg:text-left
        text-eggshell
        z-10;

		&-title {
			@apply text-eggshell
            font-jostMed
            mb-8;
		}

		&-copy {
			@apply w-[327px]
            mb-[45px]
            md:w-[445px]
            lg:w-[445px]
            pr-[30px]
            mx-auto
            lg:mx-0;
		}
	}

	&__image {
		@apply w-[248px]
        lg:w-[279px]
        translate-z-[174px]
        mx-auto
        lg:mx-0
        md:translate-z-[169px]
        lg:translate-z-[110px];

		img {
			@apply m-0
            p-0
            w-full;
		}
	}

	&.is-style-small .hero__content {
		@apply text-center;
	}

	&.is-style-small {
		@apply h-[252px] flex justify-center items-center;

		&::after {
			@apply bg-[url('../theme/assets/img/ovals.png')]
            content-['']
            scale-y-[-1];
		}

		.hero__content {
			@apply h-auto ml-0 grid items-center gap-6;

			&-title {
				@apply mb-0;
			}

			&-copy {
				@apply mx-auto px-4 mb-0;
			}
		}
	}
}
