.location-details {
    @apply
    flex
    justify-between
    gap-[30px]
    mb-8
}

.location-details.is-style-Standard {
    @apply
    flex-col-reverse
    lg:flex-row
}


.location-details.is-style-Flipped {
    @apply
    flex-col-reverse
    lg:flex-row-reverse
}

.loc-content {
    @apply
    bg-[#FDF3F0]
    md:rounded-[15px]
    px-[95px]
    py-[88px]
    lg:w-[730px]
}

.loc-content .loc-content-heading {
    @apply
    text-peach mb-[24px]
}

.loc-content .loc-content-info {
    @apply
    flex
}

.loc-content .loc-content-info .info-address,
.loc-content .loc-content-info .info-content {
    @apply
    text-darkGrey
    w-[244px]
}

.loc-content .loc-content-info .info-address strong,
.loc-content .loc-content-info .info-content strong {
    @apply
    font-jostMed
    font-bold
    text-base
}

.loc-map {
    @apply
    lg:w-[350px]
    relative
    md:rounded-[15px]
    h-[326px]
    overflow-hidden
}

.loc-map img {
    @apply
    object-cover
    w-full
}